<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>A basic HTML table</h2>

<table>
  <tr>
    <th>Restaurant Name</th>
    <th>Rating</th>
    <th>Opening Hours</th>
  </tr>
  <tr>
    <td>{{ title1 }}</td>
    <td>{{ rating1 }}</td>
    <td> {{ open_status1 }} </td>
  </tr>
  <tr>
    <td>res2</td>
    <td>ret2</td>
    <td>ho2</td>
  </tr>
  <tr>
    <td>res3</td>
    <td>ret3</td>
    <td>ho3</td>
  </tr>
  <tr>
    <td>res4</td>
    <td>ret4</td>
    <td>ho4</td>
  </tr>
  <tr>
    <td>res5</td>
    <td>ret5</td>
    <td>ho5</td>
  </tr>
</table>
</body>
</html>

